header {
    background-image: linear-gradient(black, rgb(36, 36, 36));
}

.top-header {
    border: 1px solid fuchsia;
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 70px;
}

.top-header p {
    border: 1px solid red;
    margin: auto;
    padding: 20px;
}

#fullstack {
    font-size: 27px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    color: whitesmoke;
}

#news {
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: rgb(0, 140, 255);
}

.top-header i {
    border: 1px solid blue;
    position: relative;
    justify-content: space-around;
    margin: auto;
    padding: 25px 4vw;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#sign {
    display: none;
}

.date-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-image: linear-gradient(rgb(26, 26, 26), black);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: rgb(235, 235, 235);
}

.date-header p {
    border: 1px solid red;
    position: relative;
    padding: 10px;
    font-size: 3.5vw;
    text-transform: uppercase;
}

nav ul {
    display: none;
}


@media screen and (min-width: 480px) {
    .top-header i {
        font-size: 30px;
    }

    #fullstack {
        font-size: 37px;
    }

    #news {
        font-size: 30px;
    }

    .date-header p {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .top-header {
        height: 100px;
    }

    #bars {
        display: none;
    }

    .logo {
        position: relative;
        left: -10%;
    }

    #fullstack {
        font-size: 50px;
    }

    #news {
        font-size: 40px;
    }

    #user {
        display: none;
    }

    #sign {
        border: 1px solid red;
        display: flex;
        position: relative;
        justify-content: flex-end;
        right: 2%;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    #sign i {
        padding: 5px;
        font-size: 22px;
    }

    .date-header {
        padding: 0 3%;
    }

    nav ul {
        display: flex;
        position: relative;
        justify-content: center;
        background-image: linear-gradient(rgb(15, 15, 15), black);
    }

    nav ul li {
        position: relative;
        padding: 15px 25px;
    }

    nav ul li a {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: rgb(216, 216, 216);
        text-decoration: none;
        text-transform: uppercase;
    }

    nav ul li a:hover {
        font-size: 18px;
        color: rgb(128, 198, 255);
    }
}

@media screen and (min-width: 900px) {
    .top-header {
        background-image: linear-gradient(rgb(253, 253, 253), rgb(243, 243, 243));
    }

    #fullstack {
        font-size: 57px;
        color: black;
    }

    #news {
        font-size: 47px;
        color: rgb(0, 113, 206);
    }

    #sign {
        font-size: 21px;
        color: black;
    }

    #sign i {
        font-size: 30px;
        color: black;
    }

    .date-header {
        background-image: linear-gradient(rgb(241, 241, 241), rgb(252, 252, 252));
    }

    .date-header p {
        font-size: 16px;
        color: black;
    }

    nav ul li {
        border: 1px solid rgb(27, 27, 27);
        padding: 25px 30px;
    }

    nav ul li a {
        font-size: 17px;
    }
}